
/* --------------------- 민서가 만든 네비 부분  -----------------*/


body{margin: 0;}  /* 이게 있어야지 모서리에 틈이 없어진다*/


.navbar-div {
    border-top: solid 1px rgba(0, 0, 0, 0.11);
    border-bottom: solid 1px rgba(0, 0, 0, 0.13);
    background-color: #5a38a8;
    height: 80px;
    font-family: 'Pretendard-Regular', serif;


}
.dropDown:hover .dropDownMenu{
    display: block;
    transition: 2s;
}
.dropDownMenu{display: none}

.nav-list-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style:none;
    padding-left:0px;
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
    left: 250px;
}


.nav-list-ul li {
    min-width: 120px;
    font-size: 18px;
    left: 200px;


}

.logo-img{
    width: 90px;
    margin: 15px 0px 0px 50px;
    cursor: pointer;
    position: absolute;
    display: flex;
}

.user-name{
    padding-left: 490px;
}

.logout-img{
    width: 20px;
    min-width: 0px  !important;
    cursor: pointer;
    left: 1850px;
    top: -131px;
}

.li-hover:hover{
    color: rgba(2, 12, 19, 0.82);
    cursor: pointer;
}


.dropDownMain{
    justify-content: center;
    flex-wrap: wrap;
    list-style:none;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    padding-left: 0px;
    height: 30px;
    z-index: 10;

    &:hover{
        color: rgba(26, 7, 49, 0.71);
    }
}


/* 네비 드롭다운 부분*/

.dropDown {
    position: relative;
    padding-left: 0px;
    z-index: 10;

    .dropDownMenu {
        left: -35px;
        position: absolute;
        top: 21px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        justify-content: center;
        margin: 0px;
        padding-left: 0px;
        padding-top: 35px;

    }


}


/* detail nav */

.nav-detail{
    display: flex;
    background-color: rgb(241, 241, 241);
    top: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Pretendard-Regular', serif;

    }

    .nav-detail-ul{
        padding: 0px;

    }
    .nav-detail-ul > li {
        display: flex;
        list-style: none;
        padding: 0px;
    }

    .nav-detail-ul > li > ul > li {
        color: black;
        padding-bottom: 20px;
        min-width: 120px;


    }

    .nav-detail-ul > li > ul > li:hover {
        color: rgb(41, 1, 115);
        cursor: pointer;
        text-decoration: underline;
    }

    .nav-detail-ul > li > ul{
        list-style: none; /* 목록 마커 제거 (선택적) */
    padding: 20px;
        text-align: center;
}

a {
    text-decoration: none;
    color: black;
}