/*상단메뉴이름*/
.menuTitleWrap{
    width: 1166px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
}


/*Paging*/
.pagenationD{
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.pagingD-ul {
    display: flex;
    justify-content: center;
    list-style-type : none;
    margin-bottom: 30px;
}

.pagingD-btn{
    margin: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #333333;
    font-size: 14px;
}

/*강의 테이블*/
.lecture-table{
    width: 1166px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
}

.lecture-table td{
    border: 1px solid  #f0f0f2;
    padding: 10px;
    height: 40px;
}

.lecture-table>tbody>tr:hover{
    background: #3a74d614 ;
}



.lecture-table>thead{background: #f0f0f2}
.lecture-table>tbody{border-top: 2px solid #727476;}

.listFilterArea{
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}
.blankSpace{
    width: 880px;
    border-Bottom : 2px solid  #e2e2e4;
}

.courseListTypeBtn{
    background: white;
}

.listBtnArea{
    display: flex;
    width: 1000px;
}
.listBtnArea>p{
    padding-right: 20px;
    cursor: pointer;
}
.courseSearch{
    float: right;
}


.courseListTypeBtn{
    border: none;
    padding: 0 30px;
    min-height: 50px;
    cursor: pointer;
}
.courseListWrap{
    /*border-top: 2px solid #e2e2e4;*/
    /*margin-top: 20px;*/
    margin: 0 auto;
    width: 1100px;
    padding: 50px;
}
.courseList{
    list-style: none;
    padding: 0;
}

.courseList>li{
    width: 100%;
    border-bottom: 1px solid #e2e2e4;
}

.content{
    height: 270px;
    padding: 7px 40px;
}

.content>p{
    cursor: pointer;
}
.content>p:hover{
    text-decoration: underline;
}

.courseInfo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 13px;
}

dl{
    display: flex;
    width: 50%;
}

dt{
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    min-width: 80px;
    line-height: 25px;
    padding: 0 8px;
    text-align: center;
}

dd{
    margin-left: 20px;
    line-height: 25px;

}

.statusTag{
    border-radius: 12px;
    min-width: 80px;
    line-height: 25px;
    color: white;
    padding: 3px 12px;
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    vertical-align: top;
}

.courseTitle{
    font-size: 20px;
}

.courseDetailWrap{
    width: 1100px;
    border: 3px solid #e2e2e4;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 30px;
}

.titleBox{
    border-bottom: 1px solid #e2e2e4 ;
    padding-bottom: 30px;
}

.notice{
    border-top: 1px solid #e2e2e4;
}

/*regist*/
.btnArea{
    width: 1150px;
    height: 50px;
    margin: 0 auto;
    text-align: right;
}
.btnArea p{
    margin-top: 0;
    font-size: 14px;
}

.registBtnArea{
    width: 1150px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
}
.buttonD{
    margin-left: 6px;
    background: #FFFFFF;
    border: 1px solid #d3d3d3;
    padding: 0 8px;
    line-height: 25px;
    border-radius: 6px;
    cursor: pointer;
}


.courseRegistWrap{
    width: 1100px;
    border: 3px solid #e2e2e4;
    margin: 0 auto;
    padding: 30px;
}

.courseRegistWrap select, textarea{
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    line-height: 25px;
    padding: 0 8px;
}
.courseTitleInput{
    line-height: 40px;
    width: 600px;
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 0 8px;
    font-size: 20px;
}
.capacityInput{
    line-height: 25px;
    width: 80px;
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 0 8px;
}
.cosDateInput{
    line-height: 25px;
    border: 1px solid #86868b;
    border-radius: 12px;
    padding: 0 8px;
}

.courseRegistWrap input:focus, select:focus, textarea:focus{
    outline: none;
    border: 1px solid #0071e3;
}
.courseRegistWrap input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.courseNotice{
    width: 1060px;
    height: 180px;
    font-size: 18px;
    resize: none;
    padding: 15px;
}



/*캘린더*/
.calendarContainer{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1200px;
}

.fc-toolbar-chunk button{border: none;}


/*강의모달*/
.lectureModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalBody{
    position: absolute;
    width: 600px; height: 500px;
    text-align: center;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    border-radius: 18px;
    background: #FFF;
    z-index: 1000;

}

.modalCloseBtn{
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.modalContent{
    display: flex;
    flex-direction: column;
    width: 400px; height: 300px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
.modalContent>input{
    line-height: 40px;
    width: 100%;
    border: 2px solid #86868b;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 14px;
}
.modalContent>input:focus{
    outline: none;
    border: 2px solid #0071e3;
}
.modalRegistBtn{
    line-height: 40px;
    width: 100%;
    border: 1px solid #86868b;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 50px;
    background: #0071e3;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}
.modalCancelBtn{
    line-height: 40px;
    width: 100%;
    border: 1px solid #86868b;
    border-radius: 12px;
    font-size: 20px;
    background: #FFFFFF;
    color: #0071e3;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}